<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Loose collective based in Manchester interested in all things Blockchain</p>
            </div>
            <div class="col-lg-4">
                <p>Watch this space for meetups, code, articles, and a few beers along the way</p>
            </div>
        </div>
    </div>
</section>