<!-- Footer -->
<footer>
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4 text-center">
                    <h3>{{ site.footer.wallets }}</h3>
                    <p class="small">Donations always welcome</p>
                    <ul class="list-unstyled">
                        {% for wallet in site.wallets %}
                        <li>
                            <span>{{ wallet.coin }}: </span>
                            <span class="blockchain-account">{{ wallet.account }}</span> <i class="fa fa-qrcode" title="QR code"></i>
                            <a href="{{wallet.explorer}}" target="_blank" class="qrcode"><img src="{{wallet.img}}" class="img-responsive"></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-col col-md-4 text-center">
                    <h3>{{ site.footer.social }}</h3>
                    <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-col col-md-4 text-center">
                    <h3>{{ site.footer.contact }}</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="mailto:{{ site.email }}" class="footer-contact">{{ site.email }}</a>
                        </li>
                    </ul>
                    <hr>
                    <h6>Subscribe to our mailing list</h6>
                    <ul>
                        <form class="form-inline" id="mailing-list-form">
                            <div id="email-signup-form-components" class="form-group-sm">
                                <input type="email" id="email" class="form-control" placeholder="Email..." required>
                                <button type="submit" class="btn btn-sm btn-primary form-control"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                            </div>
                            <div class="form-group-sm">
                                <p id="email-msg"></p>
                            </div>
                        </form>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
