<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>

<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" }}"></script>
<script src="{{ "/js/classie.js" }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/freelancer.js" }}"></script>

<script>
    $('.fa-qrcode').click(function () {
        $(this).next('.qrcode').toggle();
    });
</script>

<script>
 var config = {
     apiKey: "AIzaSyD7iPox-v3QJzUqqMWzolUqGBQ0s4GJV2U",
     authDomain: "blockchainmanchester.firebaseapp.com",
     databaseURL: "https://blockchainmanchester.firebaseio.com",
 };
 firebase.initializeApp(config);
</script>
